{% extends 'base.html.twig' %}

{% block app_navbar %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar py-md-1">
        <div class="container">
            {{ include('site/layout/_logo.html.twig', {'config': config}) }}
            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <div class="button-icon"><i class="fas fa-bars"></i></div>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                {{ include('site/layout/_nav_item.html.twig', {'config': config}) }}

                {{ include('site/layout/_nav_social_btn.html.twig', {'config': config}) }}
            </div>
        </div>
    </nav>
{% endblock %}


