<section class="container mb-4">
    <div class="row">
        <div class="col-12">
            <h1 class="h2-responsive font-weight-bold wow fadeInDown text-dark" data-wow-delay="0.3s">
                À propos de <strong class="text-primary font-weight-bold">{{ settings.name }}</strong> : Bâtisseurs d'un avenir durable et agréable.
            </h1>
            <p class="wow fadeInUp">
                Fondée en 2014 par Mme <strong class="font-weight-bold text-dark">Essoh Née Marie Noelle N’goan</strong>,
                <strong class="font-weight-bold text-primary">{{ settings.name }}</strong> est une société à responsabilité
                limitée opérant dans le secteur de la <strong>promotion immobilière</strong>. Notre engagement envers
                l'excellence et notre passion pour l'innovation nous ont permis de nous positionner comme un acteur majeur
                du marché <strong>immobilier en Côte d'Ivoire</strong>.
            </p>
            <p class="wow fadeInUp">
                Outre notre activité principale de <strong class="font-weight-bold text-dark">promotion immobilière</strong>,
                nous nous investissons également dans la <strong class="font-weight-bold text-dark">construction</strong>,
                le <strong class="font-weight-bold text-dark">BTP</strong>, les <strong class="font-weight-bold text-dark">VRD</strong>,
                l'<strong class="font-weight-bold text-dark">électrification générale</strong> et la
                <strong class="font-weight-bold text-dark">vente de terrains</strong>. Notre siège social est stratégiquement situé à
                <strong class="font-weight-bold text-dark">Abidjan Cocody Djibi château-face Arcade 4</strong>, au cœur de l'activité
                économique de la région.
            </p>
            <p>
                Enregistrée au RCCM et soumise au régime réel normal simplifié, notre entreprise s'engage à respecter les normes les plus
                strictes de l'industrie et à offrir des solutions innovantes et durables à nos clients. Notre objectif principal est de
                contribuer au développement durable du peuple ivoirien en lui offrant un cadre de vie paisible et agréable, tout en créant
                des opportunités économiques pour la communauté.
            </p>
        </div>
    </div>
</section>

<section class="container">
    <h1 class="h2-responsive font-weight-bold text-dark mb-5 wow fadeInDown" data-wow-delay="0.3s">
        Nous sommes une entreprise  <span class="text-secondary">ambitieuse et tournée vers l'avenir</span>,
        qui souhaite se positionner comme un acteur de premier plan dans notre secteur d'activité.
    </h1>
</section>

<section class="container mb-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card wow fadeInLeft mb-4">
                <div class="card-body text-center p-3">
                    <h2 class="h2-responsive font-weight-stone-600 text-primary wow fadeInLeft">
                        Nos valeurs
                    </h2>
                    <div>
                        Nos actions sont fondées sur des valeurs qui constituent le socle de notre entreprise.
                        Nous sommes résolument engagés à respecter ces valeurs dans toutes nos activités. Parmi
                        ces valeurs, on retrouve la <strong class="font-weight-bold text-dark">qualité, la transparence, l'intégrité, l'innovation et la
                            durabilité</strong>. Nous sommes convaincus que ces valeurs sont essentielles pour maintenir la
                        confiance de nos clients et pour construire des relations solides et durables avec eux.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card wow fadeInLeft mb-4">
                <div class="card-body text-center p-3">
                    <h2 class="h2-responsive font-weight-stone-600 text-primary wow fadeInRight">
                        Nos services
                    </h2>
                    <div>
                        Nous proposons une gamme complète de services pour répondre aux besoins de nos clients.
                        Nos services comprennent la <strong class="font-weight-bold text-dark">promotion immobilière,
                        la location et gestion locative, la construction, la réhabilitation, électrification et travaux
                        publics,</strong>. Nous avons une équipe de professionnels hautement qualifiés et expérimentés qui
                        travaillent en étroite collaboration pour fournir des solutions techniques adaptées à chaque projet.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card wow fadeInLeft mb-4">
                <div class="card-body text-center p-3">
                    <h1 class="h1-responsive font-weight-stone-600 text-primary wow fadeInRight">
                        Nos réalisations
                    </h1>
                    <div>
                        Nous sommes fiers de nos réalisations passées, qui témoignent de notre engagement envers la qualité
                        et la satisfaction client. Nous sommes également conscients que chaque projet est unique et nécessite
                        une approche sur mesure. C'est pourquoi nous travaillons en étroite collaboration avec nos clients pour
                        comprendre leurs besoins et leur fournir des solutions personnalisées.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ render(controller('App\\Controller\\BlogController::partial')) }}