{% if categories|length > 0 %}
    <section>
        <div class="card">
            <div class="card-body p-3">
                <h4 class="h4-responsive font-weight-bold text-dark mb-4">Catégories</h4>

                {% for category in categories %}
                    <div class="mt-3">
                        <i class="fas fa-folder text-secondary mr-2"></i>
                        <a href="{{ path('app_blog_category', {'slug': category.slug}) }}" class="link">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}