<div class="form-row">
    <div class="col-12 col-md-6">
        {{ form_row(form.destinataire) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.subject) }}
    </div>
</div>
<div class="row d-flex justify-content-center justify-content-md-start mt-4">
    <div class="col-12">
        <div class="mt-3 mb-0 font-weight-stone-500 small-9 text-dark">{{ form_label(form.content) }}</div>
        {{ form_widget(form.content) }}
    </div>
</div>

