<div class="form-row">
    <div class="col-12">{{ form_widget(form.category) }}</div>
    <div class="col-12">{{ form_widget(form.type) }}</div>
    <div class="col-12">{{ form_widget(form.city) }}</div>
    <div class="col-12">{{ form_widget(form.enabled) }}</div>
</div>